@import "reset";
@import "type";
@import "bits";
@import "compass/css3";


// Reusable Classes

.contain {
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

// Page Styles

body {
  background: $cream;
  font-size: 110%;
  @include sans-type;
}

a {
  @include transition(all .2s ease-in-out);
  color: $linkColor;
  &:hover {
    color: darken($linkColor, 10%);
  }
}

header {
  background: $mainColor;
  padding: 20px 0;
  margin-bottom: 40px;
  h1 {
    margin-top: 20px;
    text-transform: lowercase;
    float: left;
  }
  a {
    color: white;
    &:hover {
      color: rgba(white, .8);
    }
  }
}

.logo {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 20px;
}

.main-content {
  margin-bottom: 40px;
}

h2 {
  color: darken($cream, 80%);
}

.video-pusher {
  background: darken($cream, 5%);
  margin: 0 0 40px;
  padding: 20px;
}

.newsletter {
  margin: 20px 0 0;
  font-size: .90em;
}

.email-field {
  float: left;
  width: 65%;
  padding: 20px;
  @include border-radius(4px 0 0 4px);
  @include transition(box-shadow .2s ease-in-out);
  &:focus {
    box-shadow: inset 0 0 0 4px $linkColor;
  }
}

.submit {
  background: $linkColor;
  color: white;
  float: left;
  width: 35%;
  padding: 20px;
  @include border-radius(0 4px 4px 0);
  @include transition(background .2s ease-in-out);
  &:hover {
    background: darken($linkColor, 10%);
  }
}

.footer {
  margin-bottom: 20px;
  .contain {
    border-top: 3px solid darken($cream, 5%);
    padding-top: 10px;
  }
  color: darken($cream, 70%);
  small {
    font-size: .85em;
  }
}