// Modal Specific Stuff

@import "compass/css3";

.modal {
  .contain {
    max-width: 1140px;
  }
}

.modal {
  background: white;
  box-shadow: 0 0 10px rgba(black, .1);
  border: 1px solid rgba(black, .1);
  border-radius: 3px;

  position: absolute;
  max-width: 1140px;
  top: 25%%;
  left: 30px;
  right: 30px;
  margin: 0 auto;

  /* Embiggen */
  @include transform(scale(1.5));

  /* Hidden */
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  display: none;
}


.dialogIsOpen .modal {
  
  /* Regular size and visible */
  @include transform(scale(1));
  opacity: 1;
  display: block;

  /* Clickable */
  pointer-events: auto;

}

.dialogIsOpen .overlay {
  background: rgba(black, .8);
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0; left:0; bottom: 0; right: 0;
}

.wrap, .modal {
  
  @include transition(all 0.4s ease);

}