@import "reset";
@import "bits";
@import "type";
@import "compass/css3";

// Reusable Classes 

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.module {
  background: white;
  overflow: hidden;
  @include border-radius(3px);
  box-shadow: 0 3px 0 rgba(black, .10);
  overflow: hidden;
  margin: 0 0 3px;
  padding: 04.2553191%;
  p {
    font-size: .95em;
    margin-bottom: 15px;
  }
}

.btn, .gform_button {
  background: $linkColor;
  padding: 10px 12px;
  display: inline-block;
  color: white;
  @include border-radius(3px);
  &:hover {
    background: darken($linkColor, 5%);
    color: white;
  }
  &.secondary {
    display: inline-block;
    font-size: .95em;
    background: $green;
    color: white;
    @include border-radius(3px);
    &:hover {
      background: $gray;
      color: white;
    }
  }
}

.contain {
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

.right {
  float: right;
}


// Semi-Global Styles 
a {
    color: $linkColor;
    @include transition(all .2s ease-in-out);
    &:hover {
      color: darken($linkColor, 10%);
    }
  }

html {
  margin-top: 0 !important;
}

body {
  font-size: 110%;
  background: $cream;
  color: #c9d3da;
  @include sans-type;
}

// Header Styles

header {
  background: $mainColor;
  @include sans-type;
  clear: both;
  h1 {
    margin-top: 15px;
    font-size: 1.5em;
  }
  a {
    color: white;
  }
}

.logo {
  background: lighten($mainColor, 5%);
  display: inline-block;
  float: left;
  padding: 02.3404255% 02.1276596% 02.1276596%;
  margin: 0 02.1276596% 0 0;
  img {
    width: 30px; height: 30px;
  }
  h1 {
    display: inline-block;
  }
  &:hover {
    @include opacity(.7);
    color: white;
  }
}

.mobile-container {
  white-space: nowrap;
}

.header-nav {
  margin: 03.4042553% 02.1276596% 0 0;
  font-size: .9em;
  float: left;
  a {
    color: lighten($mainColor, 25%);
    margin-right: 10px;
    &:hover {
      color: lighten($mainColor, 50%);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.search-form {
  margin: 02.5531915% 0 0;
  font-size: .9em;
  float: left;
  #s {
    float: left;
    background: lighten($mainColor, 5%);
    padding: 5px; max-height: 30px;
    @include border-radius(3px 0 0 3px);
    @include transition (background .2s ease-in-out);
    &:focus {
      background: white;
    }
  }
  #searchsubmit {
    float: left;
    color: white;
    clear: right;
    background: lighten($mainColor, 10%);
    padding: 5px 10px;
    max-height: 30px;
    @include border-radius(0 3px 3px 0);
    @include transition (background .2s ease-in-out);
    &:hover {
      background: $linkColor;
    }
  }
}

// Memberful Stuff

.signed-in-status {
  line-height: 135%;
  color: white;
  font-size: .90em;
  float: right;
  margin: 02.6595745% 0 0;
  a {
    color: lighten($mainColor, 25%);
    &:hover {
      color: lighten($mainColor, 50%);
    }
  }
}

.profile-box {
  &.signed-out {
    overflow: hidden;
    clear: both;
    .btn {
      color: white;
      float: left;
      padding: 5px 10px;
      margin: 0 10px 0 0;
      &:last-child {
        margin: 0;
      }
      &.sign-in {
        background: darken($mainColor, 4%);
        &:hover {
          background: darken($mainColor, 6%);
        }
      }
    }
  }
}

a.profile {
  color: white;
}

.profile {
  margin-right: 10px;
  img {
    border: 1px solid white; 
    margin-right: 5px;
    vertical-align: middle;
  }
}

// Homepage Specific Styles

.home {
  .statement {
    background: $mainColor;
    padding: 4.5% 0 0;
    max-height: 680px;
    overflow: hidden;
    h1 {
      font-size: 3.5em;
      font-weight: 200;
    }
  }
  .about-me {
    display: none;
  }
  footer {
    background: darken($cream, 10%);
    color: darken($cream, 65%);
    a {
      color: darken($cream, 65%);
      &:hover {
        color: darken($cream, 75%);
      }
    }
  }
}

.logged-in {
  .statement {
    max-height: 580px;
  }
}

.video-wrapper {
  position: relative;
  margin: 4.5% 0 0;
  border-top: 1.5em solid lighten($mainColor, 5%);
  border-right: 1.5em solid lighten($mainColor, 5%);
  border-left: 1.5em solid lighten($mainColor, 5%);
  border-radius: 5px;
  max-width: 940px;
  img {
    vertical-align: bottom;
  }
}

.play-btn {
  background: rgba($mainColor, .9);
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  padding: 12px 20px;
  max-width: 70px;
  top: 170px;
  right: 30px;
  left: 30px;
  margin: 0 auto;
  &:hover {
    background: rgba($mainColor, .7);
  }
  img {
    max-width: 25px;
    width: 100%;
    height: auto;
  }
}

.testimonial {
  float: left;
  margin: 0 02.1276596% 0 0;
  width: 48.9361702%;
  text-align: center;
  &:last-child {
    margin: 0;
  }
  img {
    border-radius: 80px;
    height: auto;
    max-width: 150px;
    margin: 0 15px 0 0;
  }
  blockquote {
    color: darken($cream, 75%);
    margin: 0 0 10px;
  }
  figcaption {
    color: darken($cream, 65%);
    font-size: .9em;
    padding-right: 15px;
  }
}

// Main Content Styles

.main-content {
  margin: 50px 0;
  color: darken($gray, 5%);
}

.statement {
  background: $linkColor;
  padding: 02.6595745% 0;
  color: white;
  text-align: center;
  .btn {
    font-size: 1.5em;
    padding: 12px 20px;
  }
  h1 {
    line-height: 1.4;
    font-size: 1.5em;
    margin: 0 0 1%;
  }
  p {
    color: lighten($mainColor, 40%);
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 04.2553191%;
    a {
      color: lighten($mainColor, 40%);
      &:hover {
        color: lighten($mainColor, 50%);
      }
    }
  }
  a {
    color: white;
    &:hover {
      color: rgba(white, .7);
    }
  }
}

.page-title {
  text-transform: uppercase;
  color: $mainColor;
  font-size: 1.8em;
  font-weight: 900;
  margin: 0 0 04.2553191%;
}


.entry {
  background: white;
  @include border-radius(4px);
  box-shadow: 0 3px 0 rgba(black, .10);
  overflow: hidden;
  margin: 0 0 04.2553191%;
  width: 46.8085106%;
  margin-right: 0;
  float: left;
  &:nth-child(1n+1) {
    margin-right: 03.1914894%;
  }
  &:last-child {
    margin: 0 0 3px;
  }
  img {
    height: auto;
    width: 100%;
  }
  .text {
    overflow: hidden;
    padding: 04.2553191%;
    p {
      height: 5.8em;
      overflow: hidden;
    }
    .btn {
      float: right;
      clear: right;
    }
    h3 {
      font-size: 1.8em;
      font-weight: bold;
      line-height: 1.3;
      margin-bottom: 15px;
    }
  }
}

// Single Page Styles

.price {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 40px;
  p {
    font-weight: bold;
    color: #535353;
    font-size: 1.5em !important;
    display: inline-block;
    margin: 0 !important;
  }
  .btn {
    float: right;
    clear: right;
    margin: 00.212766% 0 0;
  }
}

.module {
  .text {
    float: left;
    width: 63.8297872%;
    clear: right;
    padding: 0 04.2553191% 0 0;
    h2 {
      color: #535353;
      font-size: 1.8em;
      font-weight: bold;
      line-height: 1.3;
      margin-bottom: 15px;
      text-transform: none;
    }
  }
}

.video-preview {
  margin: 0 0 04.2553191%;
}

.col-1 {
  width: 34.8837209%;
  float: left;
  h3 {
    font-size: .95em;
    font-weight: bold;
    color: #535353;
    margin-bottom: 5px;
  }
  p {
    font-size: .85em;
    margin-bottom: 30px;
  }
  img {
    float: none;
    margin: 0 0 30px 0;
  }
}

p {
  &.lead {
  color: darken($gray, 25%);
  font-size: 1.1em !important;
  }
}

hr {
  border: solid lighten($mainColor, 65%);
  border-width: 5px 0 0;
  clear: both;
  margin: 35px auto;
  height: 0;
  width: 50%;
  display: block;
  padding: 0;
}

.video-list {
  clear: both;
  .btn {
    float: right;
    clear: right;
  }
  h3 {
    color: #535353;
    font-size: 1.1em !important;
    font-weight: bold;
    margin: 0 0 03.1914894%;
  }
}

.course-videos {
  list-style-type: none;
  margin: 0;
  li {
    display: block;
    padding: 01.5957447% 0;
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: none;
      padding: 01.5957447% 0 0;
    }
    h4 {
      font-weight: bold;
      margin: 0 0 00.5319149%;
    }
    p {
      font-size: .85em !important;
      margin-bottom: 0 !important;
    }
  }
}

// Course Video Single Page

.single-course-videos {
  .module {
    @include border-radius(0 0 3px 3px);
  }
}

.type-course-videos, .type-timtv {
  .contain {
    max-width: 700px;
  }
  .module {
    h2 {
      color: $mainColor;
      font-size: 2em;
      font-weight: bold;
      margin: 0 0 02.8571429%;
    }
    p {
      color: $mainColor;
      font-size: 1.3em;
      &.video_length {
        color: #888;
        font-size: .9em;
        margin: 0 0 03.5714286%;
      }
    }
  }
}

.video-container {
  position: relative;
  top: 2px;
}

.video-container-anon {
  // 700x394
  background: $mainColor;
  height: 56.2857143%;
  padding: 20% 05.7142857%;
  @include border-radius(3px 3px 0 0);
  text-align: center;
  h2 {
    color: white;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.2;
    margin: 0 0 02.8571429%;
    small {
      color: lighten($mainColor, 25%);
      display: block;
      font-weight: 200;
      font-size: .75em;
    }
  }
}

.video-meta-bar {
  background: white;
  border-bottom: 1px solid #eee;
  color: lighten($gray, 20%);
  overflow: hidden;
  clear: both;
}

.breadcrumb {
  white-space: nowrap;
  padding: 02.6595745% 04.2553191%;
  p {
    font-size: .90em;
  }
  span {
    margin: 0 01.0638298%;
    &:first-child {
      margin: 0 01.0638298% 0 0;
    }
  }
  .trail-end {
    margin: 0;
  }
}

.video-nav {
  background: darken(white, 3%);
  padding: 01.4285714% 04.2553191%;
  text-align: right;
}

// Tim TV Styles

.tim-tv-entry {
  margin: 0 0 06.4285714%;
  &:last-child {
    margin: 0 0 3px;
  }
}

// Help Page Styles 


.page .entry {
  h2 {
    color: $gray;
    font-size: 1.8em;
    margin-bottom: 15px;
    text-transform: none;
    font-weight: normal;
  }
  // h3 {
  //   color: $mainColor;
  //   font-size: 1.2em;
  //   margin-bottom: 15px;
  // }
  p {
    margin-bottom: 20px;
  }
}

.content-col {
  width: 60.4651163%;
  margin-right: 04.6511628%;
  float: left;
  overflow: hidden;
  h2 {
    color: $gray;
    font-size: 1.8em;
    margin-bottom: 15px;
    text-transform: none;
    font-weight: normal;
    }
  p {
    font-size: .95em;
    margin-bottom: 15px;
  }
}

.sidebar {
  float: left;
  width: 34.8837209%;
  h3 {
    font-size: .95em;
    font-weight: bold;
    color: #535353;
    margin-bottom: 30px;
  }
  h4 {
    font-size: .87em;
    line-height: 1.4;
    font-weight: bold;
    color: #535353;
    margin-bottom: 5px;
  }
  p {
    font-size: .85em;
    margin-bottom: 30px;
  }
}

// Form Styles

.gform_fields {
  list-style-type: none;
  margin: 0;
}

.gfield {
  padding: 0;
  margin-bottom: 20px;
}

.gfield_label {
  margin-bottom: 10px;
  display: block;
  color: $mainColor;
  font-weight: bold;
  font-size: .87em;
}

.gfield_required {
  color: $linkColor;
}

.ginput_left {
  position: relative;
  width: 50%;   
  padding-right: 10px;
  display: inline-block;
  input {
    background: #f5f5f5;
    padding: 10px 0 10px 50px;
    border: 1px solid #f5f5f5;
    @include border-radius(3px);
    @include transition(all .3s ease-in-out);
    width: 100%;
    &:focus {
      background: white;
      border-color: lighten(#3d9ae8, 15%);
    }
  }
  label {
    color: #ccc;
    text-transform: uppercase;
    font-size: .65em;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.ginput_right {
  position: relative;
  width: 50%;
  display: inline-block;
  input {
    background: #f5f5f5;
    padding: 10px 0 10px 50px;
    border: 1px solid #f5f5f5;
    @include border-radius(3px);
    @include transition(all .3s ease-in-out);
    width: 100%;
    &:focus {
      background: white;
      border-color: lighten(#3d9ae8, 15%);
    }
  }
  label {
    color: #bbb;
    text-transform: uppercase;
    font-size: .65em;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.g_email {
  input {
    background: #f5f5f5;
    width: 100%;
    padding: 10px;
    border: 1px solid #f5f5f5;
    @include border-radius(3px);
    @include transition(all .3s ease-in-out);
    &:focus {
      background: white;
      border-color: lighten(#3d9ae8, 15%);
    }
  }
}

.g_message {
  textarea {
    background: #f5f5f5;
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #f5f5f5;
    @include border-radius(3px);
    @include transition(all .3s ease-in-out);
    resize: none;
    &:focus {
      background: white;
      border-color: lighten(#3d9ae8, 15%);
    }
  }
}

.gform_button {
  @include transition(background .2s ease-in-out);
}



// Footer Styles 

.section-title {
  color: $mainColor;
  font-weight: bold;
  margin: 0 0 04.2553191%;
}

.newsletter {
  background: darken($cream, 5%);
  padding: 40px 0;
  border-top: 1px solid darken($cream, 10%);
}

.email-field {
  float: left;
  padding: 20px;
  width: 70%;
  @include border-radius(4px 0 0 4px);
  font-size: 1.2em;
  @include transition(box-shadow .2s ease-in-out);
  &:focus {
    box-shadow: inset 0 0 0 3px $linkColor;
  }
}

.submit {
  font-size: 1.2em;
  background: $linkColor;
  color: white;
  padding: 20px;
  width: 30%;
  @include border-radius(0 4px 4px 0);
  @include transition(background .2s ease-in-out);
  &:hover {
    background: lighten($linkColor, 5%);
  }
}

.about-me {
  background: darken($cream, 10%);
  border-top: 1px solid darken($cream, 15%);
  padding: 40px 0;
  img {
    @include border-radius(200px);
    float: left;
    width: 23.4042553%;
  }
}

.about-me-text {
  margin-top: 30px;
  float: left;
  width: 74.4680851%;
  padding-left: 20px;
  p {
    color: darken($cream, 65%);
    font-size: .92em;
    &:nth-child(2) {
      font-size: 1.2em;
      margin-bottom: 5px;
      color: darken($cream, 75%);
    }
    &:nth-child(4) {
      font-size: .8em;
      margin-top: 10px;
    }
  }
  a {
    border-bottom: 1px solid $linkColor;
    &:hover {
      border-bottom-color: darken($linkColor, 10%);
    }
  }
}

footer {
  background: $mainColor;
  padding: 30px 0;
  color: white;
  font-size: .85em;
  a {
    color: white;
    &:hover {
      color: rgba(white, .7);
    }
  }
}


@import "modal";