
// Responsive Styles

@media screen and (max-width: 940px) {
    
    .contain {
      padding-right: 40px;
      padding-left: 40px;
    }

    body {
      font-size: 100%;
    }

    .about-me {
      img {
        width: 25.5813953%;
      }
    }

    .about-me-text {
      width: 72.0930233%;
    }


}

@media screen and (max-width: 911px) {

    body {
      font-size: 95%;
    }


}

@media screen and (max-width: 822px) {

  .contain {
    padding-right: 20px;
    padding-left: 20px;
  }

  .single, .error404 {
    .entry {
      .text {
        padding: 0 0 0 10px;
      }
    }
  }

}


@media screen and (max-width: 780px) {
  
  .entry {
    padding: 4.25532%;
    img {
      min-width: 50px;
    }
    .text {
      padding: 0;
    }
  }

}

@media screen and (max-width: 650px ) {
  
  .module {
    .text {
      float: none;
      padding: 0;
      width: 100%;
      margin: 0 0 6%;
    }
  }

  .col-1 {
    width: 100%;
  }
  
}

@media screen and (max-width: 640px) {



  .single, .error404 {
    .entry {
      .text {
        padding: 0;
      }
    }
  }

  .content-col {
    border-bottom: 1px solid #eee;
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .sidebar {
    float: none;
    width: 100%;
  }

  .about-me-text {
    margin-top: 0;
  }

}

@media screen and (max-width: 600px) {
  
  header {
    position: relative;
  }

  .mobile-container {
    clear: both;
    position: absolute;
    background: #292b2f;
    top: 100%;
    left: 0px;
    padding: 10px 20px;
    right: 0;
    vertical-align: top;
    margin: 0 0 30px;
    .header-nav {
      vertical-align: top;
    }
    .search-form {
      margin: 0;
    }
  }

  .statement {
    margin: 47px 0 0;
  }
  



}

@media screen and (max-width: 560px) {

  body {
    font-size: 85%;
  }

  .statement, .newsletter, .about-me, footer {
    padding: 20px 0;
  }

  .statement {
    h1 {
      font-size: 2em;
    }
  }

  .main-content {
    margin: 20px 0;
    h2 {
      margin-bottom: 20px;
    }
  }

  .entry {
    margin-bottom: 0;
    .text {
      padding: 25px;
    }
  }

  .single, .page {
    .entry {
      padding: 25px;
    }
  }

  .newsletter h2 {
    margin-bottom: 20px;
  }



}

@media screen and (max-width: 400px) {

  .statement {
    h1 {
      font-size: 1.5em;
    }
  }

  .about-me {
    img {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }

  .about-me-text {
    width: 100%;
    padding-left: 0;
  }
}


@media screen and (max-width: 320px) {
  
  body {
    background: white;
  }

  header {
    h1 {
      font-size: 1.2em;
    }
  }

  nav {
    margin-top: 0;
  }

  .logo img {
    width: 45px; height: 45px;
  }

  .entry {
    background: none;
    box-shadow: none;
    .text {
      padding: 0;
    }
  }

  .single, .page {
    .entry {
      padding: 0;
    }
  }

  .email-field, .submit {
    padding: 15px 10px;
    font-size: 1em;
  }

}
