@mixin sans-type {
  font-family: "source-sans-pro",sans-serif;
}

@mixin serif-type {
  font-family: "adelle",serif;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  font-weight: normal;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}