
// Responsive Styles

@media screen and (max-width: 940px) {
    
    .contain, .main-content {
      padding-right: 40px;
      padding-left: 40px;
    }

    body {
      font-size: 100%;
    }

    .about-me {
      img {
        width: 25.5813953%;
      }
    }

    .about-me-text {
      width: 72.0930233%;
    }


}

@media screen and (max-width: 911px) {

    body {
      font-size: 95%;
    }


}

@media screen and (max-width: 822px) {

  .contain, .main-content {
    padding-right: 20px;
    padding-left: 20px;
  }

  .entry {
    img {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .text {
      padding: 40px;
    }
  }

  .col-1 {
    margin-right: 0;
    padding-right: 10px;
    width: 40%;
  }

  .single, .error404 {
    .entry {
      .text {
        padding: 0 0 0 10px;
      }
    }
  }

}

@media screen and (max-width: 640px) {

  .col-1 {
    float: none;
    width: 100%;
    padding-right: 0;
  }

  .single, .error404 {
    .entry {
      .text {
        padding: 0;
      }
    }
  }

  .content-col {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .sidebar {
    float: none;
    width: 100%;
  }

}


@media screen and (max-width: 560px) {

  body {
    font-size: 85%;
  }

  header, .statement, .newsletter, .about-me, footer {
    padding: 20px 0;
  }

  .statement {
    h1 {
      font-size: 2em;
    }
  }

  .main-content {
    margin: 20px 0;
    h2 {
      margin-bottom: 20px;
    }
  }

  .entry {
    margin-bottom: 0;
    .text {
      padding: 25px;
    }
  }

  .single, .page {
    .entry {
      padding: 25px;
    }
  }

  .newsletter h2 {
    margin-bottom: 20px;
  }



}

@media screen and (max-width: 400px) {

  .statement {
    h1 {
      font-size: 1.5em;
    }
  }

  .about-me {
    img {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }

  .about-me-text {
    width: 100%;
    padding-left: 0;
  }
}


@media screen and (max-width: 320px) {
  
  header {
    h1 {
      font-size: 1.2em;
    }
  }

  nav {
    margin-top: 0;
  }

  .logo img {
    width: 45px; height: 45px;
  }

  .email-field, .submit {
    padding: 10px;
    font-size: 1em;
  }

}
